{% extends 'parent/base.html' %}
{% load static %}

{% block content %}
<section class="py-5 password-reset-sent-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="card border text-center p-4 password-reset-sent-card">
                    <div class="password-reset-sent">
                        <h2 class="h1 m-0 mb-3">
                            لینک تغییر پسورد برای شما ارسال شد.
                        </h2>
                        <p class="mb-4">لطفاً ایمیل خود را بررسی کنید و روی لینک ارسال‌شده کلیک کنید تا بتوانید رمز عبور جدیدی تنظیم کنید.</p>
                        <a href="{% url 'users:login' %}" class="btn btn-primary">بازگشت به ورود</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
