{% extends 'parent/base.html' %}
{% load static %}

{% block content %}
<section class="py-4 password-change-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card border h-100">
                    <div class="card-body text-center password-changed-message">
                        <h2 class="mb-4">پسورد شما با موفقیت تغییر پیدا کرد</h2>
                        <a href="{% url 'users:login' %}" class="btn btn-dark mb-0">ورود به حساب کاربری</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
