{% extends 'parent/base.html' %}
{% block title %} login {% endblock %}
{% load static %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'users/css/registration/login.css' %}">
 <section class="login">
  <div class="container">
   <div class="banner-content">

      <form method="post" class="form-signin">
           <h3 class="form-signin-heading">ورود کابر</h3>
           <div class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
           </div>
           <button class="kafe-btn kafe-btn-mint btn-block" type="hidden" name="next", value="{{ next }}">وارد شوید</button>
           <br/>
           <a class="btn btn-dark " href="{% url 'users:register' %}" role="button">هنوز حساب کاربری ندارید؟ اینجا ثبت نام کنید.</a>
           <a class="btn btn-dark " href="#" role="button">پسورد خود را فراموش کرده اید؟</a>
      </form>

   </div><!--/. banner-content -->
  </div><!-- /.container -->
 </section>

{% endblock %}