{% extends 'parent/base.html' %}
{% load static %}

{% block title %}بازنشانی رمزعبور{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'users/css/forms/password_reset_confirm.css' %}">
{% if validlink %}
<section class="py-4 reset-password-section">
    <div class="container">
        <div class="row pb-4">
            <div class="col-12">
                <h1 class="mb-0 h3">تغییر پسورد</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card border h-100 reset-password-card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn-reset-password" type="submit">تغییر پسورد</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
<section class="py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card border text-center p-4">
                    <p class="text-danger invalid-link-message h5 m-0">لینک تغییر پسورد شما معتبر نیست یا منقضی شده است.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}
