{% extends "parent/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'store/css/forms.css' %}">

<div class="form-wrapper">
    <div class="add-form-container">
        <h2>افزودن دسته‌بندی جدید</h2>
        <div class="add-form">
            <form method="post">
                {% csrf_token %}
                {{ category_form.as_p }}
                <button type="submit">افزودن دسته‌بندی</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
