{% extends "parent/base.html" %}
{% load static %}

{% block content %}
        <link rel="stylesheet" type="text/css" href="{% static 'store/css/detail.css' %}">
<div class="detail-container">
    <div class="detail-image">
        <img src="{{ book.images.first.file.url }}" alt="{{ book.title }}">
    </div>
    <div class="detail-info">
        <h1 class="detail-title">{{ book.title }}</h1>
        <p class="detail-author"><strong>نویسنده:</strong> {{ book.author }}</p>
        <p class="detail-category"><strong>دسته‌بندی:</strong> {{ book.category }}</p>
        <p class="detail-pages"><strong>تعداد صفحات:</strong> {{ book.page_num }}</p>
        <p class="detail-weight"><strong>وزن:</strong> {{ book.weight }} گرم</p>
        
        <p class="detail-price">
            {% if book.off > 0 %}
                <span class="old-price">{{ book.price }} تومان</span>
                <span class="new-price">{{ book.new_price }} تومان</span>
            {% else %}
                {{ book.price }} تومان
            {% endif %}
        </p>

        <div class="detail-description">
            <h3>توضیحات:</h3>
            <p>{{ book.description|linebreaks }}</p>
        </div>
    </div>
</div>
{% endblock %}
