<style>
    .messages {
        list-style: none;
        padding: 0;
        margin: 20px auto;
        max-width: 600px;
        font-family: 'Vazir', sans-serif;
    }

    .messages li {
        padding: 12px 16px;
        margin-bottom: 10px;
        border-radius: 8px;
        font-size: 1rem;
        font-weight: bold;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        color: #fff;
    }

    .messages .success {
        background-color: #8AB2A6;
        color: #3E3F5B;
    }

    .messages .error {
        background-color: #b91010;
        color: #fff;
    }

    .messages .info {
        background-color: #115c83;
        color: #fff;
    }

    .messages .warning {
        background-color: #bd7913;
        color: #fff;
    }
</style>

{% extends 'parent/base.html' %}
{% block title %} تیکت {% endblock %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/forms/ticket.css' %}">
	{% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li class="{% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
            </li>
        {% endfor %}
        </ul>
    {% endif  %}
 <section class="login">
  <div class="container">
   <div class="banner-content">
      <form method="post" class="form-signin">
           <div class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
           </div>
           <button class="kafe-btn kafe-btn-mint btn-block" type="submit">ارسال پیام به پشتیبانی</button>
           <br/>
      </form>

   </div><!--/. banner-content -->
  </div><!-- /.container -->

 </section>
{% endblock %}