/* password_change_done.css */

.change-password-section {
    background-color: #F6F1DE;
    padding: 80px 0;
    font-family: 'Vazir', sans-serif;
}

.card {
    background-color: #8AB2A6;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px 16px rgba(62, 63, 91, 0.2);
}

.password-success-message h2 {
    color: #3E3F5B;
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.password-success-message .btn-primary {
    background-color: #ACD3A8;
    color: #3E3F5B;
    padding: 12px 24px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.password-success-message .btn-primary:hover {
    background-color: #F6F1DE;
    color: #3E3F5B;
    border: 2px solid #3E3F5B;
}
