.detail-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    background-color: #F6F1DE;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0,0,0,0.05);
    color: #3E3F5B;
}

.detail-image img {
    width: 320px;
    height: auto;
    border-radius: 16px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.detail-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.detail-title {
    font-size: 2rem;
    font-weight: bold;
    color: #3E3F5B;
}

.detail-price {
    font-size: 1.4rem;
    margin-top: 1rem;
    color: #3E3F5B;
}

.old-price {
    text-decoration: line-through;
    color: #999;
    margin-left: 10px;
}

.new-price {
    color: #ACD3A8;
    font-weight: bold;
}

.detail-description{
    margin-top: 1rem;
    background-color: #ddd;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
    line-height: 1.8;
}

.detail-description h3 {
    color: #3E3F5B;
    margin-bottom: 0.5rem;
}
