body {
    background-color: #F6F1DE;
    font-family: 'Vazir', sans-serif;
    color: #3E3F5B;
    direction: rtl;
}

.store-container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}

.store-heading {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
    color: #3E3F5B;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}

.product-card {
    background-color: #8AB2A6;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    background-color: #ACD3A8;
}

.product-image {
    width: 100%;
    height: 250px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F6F1DE;
}

.product-info {
    padding: 1rem;
}

.product-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #3E3F5B;
}

.product-author {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #3E3F5B;
}

.product-price {
    font-size: 1.1rem;
    color: #3E3F5B;
}

.old-price {
    text-decoration: line-through;
    margin-left: 0.5rem;
    color: #3E3F5B;
    font-size: 0.9rem;
}

.new-price {
    font-weight: bold;
    color: #3E3F5B;
}


.see-all-wrapper {
    text-align: center;
    margin-top: 2rem;
}

.see-all-btn {
    display: inline-block;
    background-color: #ACD3A8;
    color: #3E3F5B;
    padding: 0.7rem 1.5rem;
    border-radius: 12px;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.see-all-btn:hover {
    background-color: #F6F1DE;
    color: #3E3F5B;
}

.divider {
    margin: 40px 0;
    border: none;
    border-top: 2px solid #3E3F5B;
}

.category-title {
    font-size: 26px;
    color: #3E3F5B;
    text-align: center;
    margin-bottom: 20px;
}

.category-section {
    margin-top: 30px;
}

.category-name {
    font-size: 22px;
    color: #8AB2A6;
    margin-bottom: 15px;
    border-bottom: 1px solid #ACD3A8;
    padding-bottom: 5px;
}

.no-books {
    font-size: 14px;
    color: #999;
}

