body, input, button, label {
    font-family: 'Vazir', sans-serif;
    color: #3E3F5B;
}

.reset-password-section {
    background-color: #F6F1DE;
    padding: 40px 0;
}

.reset-password-card {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
    padding: 24px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form p {
    margin-bottom: 0;
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
}

form input[type="password"],
form input[type="text"],
form input[type="email"] {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #8AB2A6;
    border-radius: 8px;
    background-color: #F6F1DE;
    transition: 0.3s;
}

form input:focus {
    outline: none;
    border-color: #3E3F5B;
    background-color: #fff;
}

/* دکمه */
.btn-reset-password {
    background-color: #ACD3A8;
    color: #3E3F5B;
    padding: 12px 24px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    transition: 0.3s;
    width: 100%;
}

.btn-reset-password:hover {
    background-color: #F6F1DE;
    color: #3E3F5B;
    border: 2px solid #3E3F5B;
}

/* پیام لینک نامعتبر */
.invalid-link-message {
    color: #b91010;
    font-weight: bold;
}
